input {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 10px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
form{
    justify-content:right;
}

body {
    font-family: 'Caveat';
    font-size: xx-large;
    margin:0;  
    text-align: center;


    background-image: url(../images/cows.jpg), url(../images/flowers.jpg), url(../images/hearts.jpg), url(../images/city.jpg), url(../images/plant.jpg);
    background-position: left top, left bottom, right top, right bottom, top center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}


h1 {
    margin-top: 250px;
}





@media only screen 
and (max-device-width: 600px)  {
    html{
         font-family: 'Caveat', cursive;
        margin:0;
        height:100%;
        border-style: solid;
        border-width: 5px;
    }
    body {
         
        font-size: xx-large;
        margin:0;  
        text-align: center;
        padding: 0;
         background-image: url(../images/cows.jpg), url(../images/flowers.jpg), url(../images/hearts.jpg), url(../images/city.jpg), url(../images/aliens.jpg), url(../images/tiger.jpg);
    background-position: left center, left bottom, right top, right bottom, left top, right center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    }   

}