




body {
    font-family: 'Caveat';
    font-size: xx-large;
    margin:0;  
    text-align: center;
    background-image: url(../images/cows.jpg), url(../images/flowers.jpg), url(../images/hearts.jpg) ;
    background-position: left top, left center, right top ;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    
}
input {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 10px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
.table {
    width:100%;
    border: hidden;
    margin-left: auto;
    margin-right: auto;

}
th {
    border:hidden;
    align-items:center;
    width:100%;
    padding: 18px;
}

td {

    align-items:center;
    border:hidden;

    padding:18px;
}
@media only screen 
and (max-device-width: 600px)  {
    html{
        font-family: 'Caveat', cursive;
        margin:0;
        height:100%;
        border-style: solid;
        border-width: 5px;
        min-height:100%;
 body {

      
        font-size: xx-large;
        margin:0;  
        text-align: center;
        padding: 0;
    }


    }
}

