html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: url('../images/main.jpg') no-repeat;
}

.wrapper {
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.heading {
    margin-left: 400px;
    margin-top: 350px;
}

div h1 {
    display: inline;
    font-family: 'Lobster Two', cursive;
    font-size: 70px;
    padding-left: 20px;
    padding-top: 20px;

}

nav {
    display: block;
}

nav div a {
    float:left;
    display: block;
    font-family: 'Lobster Two', cursive;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 0px;
    padding-top: 0px;
    text-decoration: none;
    color: rgb(5, 5, 5);
    transition: color 400ms ease-in-out;
    font-size: 30px;
    border: 2px solid black;
    border: 5px;
    
}

.links {
    position:fixed;
    margin-left: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    background-color:rgb(233, 119, 195);
    opacity: 0.8;
    
    /**overflow: hidden;*/ 
}

.links a:hover{
    color: silver;
    
}

.intro{
    display: block;
    float: left;
    font-family: 'Lobster Two', cursive;
    width: 80%;
    margin-top: 500px;
    margin-left: 150px;
    padding: 30px 30px;
    background-color: thistle;
    opacity: 0.8;
    font-size: 25px;
    border: solid 3px black;
    border-radius: 10px;
}

.intro img {
    float: left;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin-right: 30px;  
}

.art{
    display: block;
    float: right;
    font-family: 'Lobster Two', cursive;
    width: 80%;
    margin-top: 40px;
    margin-right: 120px;
    padding: 30px 30px;
    background-color: thistle;
    opacity: 0.8;
    font-size: 25px;
    border: solid 3px black;
    border-radius: 10px;
}

.art img {
    float: right;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin-right: 30px;  
}

.art p a{
    padding: 20px;
    border: solid 3px black;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 50px;
}